nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

#logo-netflix {
    width: 128px;
    height: auto;
}

.navbar {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar li a {
    text-decoration: none;
    color: var(--text-color-nav);
    font-size: 1.25rem;
}

.navbar li a img {
    padding-right: 3rem;
}

.navbar__perfil {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-right: 4rem;
    cursor: pointer;
}